@model sistema_crm.Models.PropostaModel
@{
    Layout = "../Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/lib/bootstrap/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/lib/bootstrap/assets/img/favicon.png" />
    <title>
        Cadastro de Vendedores
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/lib/bootstrap/assets/css/soft-ui-dashboard.css" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        jQuery(function ($) {
            $('#cpf').mask('000.000.000-00');
            $('#cnpj').mask('00.000.000/0000-00');
            $('#telefone').mask('(00) 00000-0000');
        })
    </script>
    <style>



        .btn-outline-primary {
            --bs - btn - color: #cb0c9f;
            --bs - btn - border - color: #cb0c9f;
            --bs - btn - hover - color: #fff;
            --bs - btn - hover - bg: #cb0c9f;
            --bs - btn - hover - border - color: #cb0c9f;
            --bs - btn - focus - shadow - rgb: 203, 12, 159;
            --bs - btn - active - color: #fff;
            --bs - btn - active - bg: #cb0c9f;
            --bs - btn - active - border - color: #cb0c9f;
            --bs - btn - active - shadow: none;
            --bs - btn - disabled - color: #cb0c9f;
            --bs - btn - disabled - bg: transparent;
            --bs - btn - disabled - border - color: #cb0c9f;
            --bs - gradient: none;
        }

        .input {
            display: inline - block; /* Define as caixas de texto para exibição em linha */
            width: 150px; /* Largura das caixas de texto */
            margin - right: 10px; /* Espaçamento entre as caixas de texto */
        }

        .sidenav {
            height: 100%; /* Full-height: remove this if you want "auto" height */
            width: 160px; /* Set the width of the sidebar */
            position: fixed; /* Fixed Sidebar (stay in place on scroll) */
            z - index: 0; /* Stay on top */
            top: 0; /* Stay at the top */
            left: auto;
            background - color: #fff; /* Black */
            overflow - x: hidden; /* Disable horizontal scroll */
            padding - top: 50px;
        }

        .crm {
            margin-top: 20px;
        }

        .form-control, .form-select {
            width: 100%; /* Ou ajuste para um valor fixo, ex: 300px */
            max-width: 300px; /* Define uma largura máxima */
        }

    </style>
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

</head>


<body class="g-sidenav-show bg-gray-100">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <div class="card" style="margin-bottom: 60px">
            <div class="card-header">
                <h4 class="text-center">Cadastro de Proposta</h4>
            </div>
            <div class="card-body">
                <!-- Formulário para cadastrar a proposta -->
                <form asp-controller="Proposta" asp-action="Cadastrar" method="post">
                    <!-- Linha para Data e Cliente -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Data</label>
                            <input asp-for="Data" type="date" class="form-control" />
                            <span asp-validation-for="Data" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Cliente</label>
                            <select asp-for="Cliente_id" class="form-select">
                                <option value="">Escolha...</option>
                                @foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
                                {
                                    <option value="@item.Id">@item.Nome</option>
                                }
                            </select>
                            <span asp-validation-for="Cliente_id" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Linha para Vendedor e Status -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Vendedor</label>
                            <select asp-for="Vendedor_id" class="form-select">
                                <option value="">Escolha...</option>
                                @foreach (var item in (List<VendedorModel>)ViewBag.ListaVendedores)
                                {
                                    <option value="@item.Id">@item.Nome</option>
                                }
                            </select>
                            <span asp-validation-for="Vendedor_id" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="">Escolha...</option>
                                <option value="EM NEGOCIAÇÃO" selected="@((Model.Status == "EM NEGOCIAÇÃO") ? "selected" : null)">EM NEGOCIAÇÃO</option>
                                <option value="CANCELADO" selected="@((Model.Status == "CANCELADO") ? "selected" : null)">CANCELADO</option>
                                <option value="PERDIDO" selected="@((Model.Status == "PERDIDO") ? "selected" : null)">PERDIDO</option>
                                <option value="VENDA REALIZADA" selected="@((Model.Status == "VENDA REALIZADA") ? "selected" : null)">VENDA REALIZADA</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Botão Adicionar Item -->
                    <div class="mb-3">
                        <button type="button" id="add-item-btn" class="btn btn-primary">+ Adicionar Item</button>
                    </div>

                    <!-- Campos de Itens Adicionados -->
                    <div class="row" id="item-fields">
                        <!-- Aqui ficarão os campos de itens adicionais -->
                    </div>

                    <!-- Botão Salvar -->
                    <div>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>

            </div>

            </div>
        </div>
    </main>

    <script>
        var itemCount = 0;

        document.getElementById("add-item-btn").addEventListener("click", function () {
            var newItemDiv = document.createElement("div");
            newItemDiv.classList.add("form-group");

            newItemDiv.innerHTML = `
              <div class="row mb-3 align-items-end" id="item_${itemCount}">
            <div class="col-md-1">
                <label for="Itens_${itemCount}__Qtde">Qtde:</label>
                <input type="text" name="Itens[${itemCount}].Qtde" class="form-control" required />
            </div>
            <div class="col-md-4">
                <label for="Itens_${itemCount}__Descricao">Descrição do Item:</label>
                <input type="text" name="Itens[${itemCount}].Descricao" class="form-control" required />
            </div>
            <div class="col-md-3">
                <label for="Itens_${itemCount}__PrecoUnit">Valor do Item:</label>
                <input type="number" name="Itens[${itemCount}].PrecoUnit" class="form-control" step="0.01" required />
            </div>
            <div class="col-md-2 d-flex align-items-end">
                <button type="button" class="btn btn-danger btn-sm remove-item-btn" data-item-id="item_${itemCount}">Apagar</button>
            </div>
        </div>
        `;

            document.getElementById("item-fields").appendChild(newItemDiv);
            itemCount++;

            newItemDiv.querySelector('.remove-item-btn').addEventListener('click', function () {
                var itemId = this.getAttribute('data-item-id');
                document.getElementById(itemId).remove();
            });
        });
    </script>
</body>
</html>