@model ClienteModel

@{
    ViewData["Title"] = "Adicionar cliente";
    Layout = "../Shared/_Layout.cshtml";

}



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/lib/bootstrap/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/lib/bootstrap/assets/img/favicon.png" />
    <title>
        Cadastro de Vendedores
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/lib/bootstrap/assets/css/soft-ui-dashboard.css" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        jQuery(function ($) {
            $('#cpf').mask('000.000.000-00');
            $('#cnpj').mask('00.000.000/0000-00');
            $('#telefone').mask('(00) 00000-0000');
        })
    </script>
    <style>


        .btn-outline-primary {
            --bs - btn - color: #cb0c9f;
            --bs - btn - border - color: #cb0c9f;
            --bs - btn - hover - color: #fff;
            --bs - btn - hover - bg: #cb0c9f;
            --bs - btn - hover - border - color: #cb0c9f;
            --bs - btn - focus - shadow - rgb: 203, 12, 159;
            --bs - btn - active - color: #fff;
            --bs - btn - active - bg: #cb0c9f;
            --bs - btn - active - border - color: #cb0c9f;
            --bs - btn - active - shadow: none;
            --bs - btn - disabled - color: #cb0c9f;
            --bs - btn - disabled - bg: transparent;
            --bs - btn - disabled - border - color: #cb0c9f;
            --bs - gradient: none;
        }

        .input {
            display: inline - block; /* Define as caixas de texto para exibição em linha */
            width: 150px; /* Largura das caixas de texto */
            margin - right: 10px; /* Espaçamento entre as caixas de texto */
        }

        .sidenav {
            height: 100%; /* Full-height: remove this if you want "auto" height */
            width: 160px; /* Set the width of the sidebar */
            position: fixed; /* Fixed Sidebar (stay in place on scroll) */
            z - index: 0; /* Stay on top */
            top: 0; /* Stay at the top */
            left: auto;
            background - color: #fff; /* Black */
            overflow - x: hidden; /* Disable horizontal scroll */
            padding - top: 50px;
        }

        .crm {
            margin-top: 20px;
        }

    </style>
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

</head>
<body class="g-sidenav-show bg-gray-100">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <header>
            <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl">
                <div class="container-fluid py-1 px-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                            <li></li>
                            <li></li>
                        </ol>
                    </nav>
                </div>
            </nav>
        </header>

        <div class="card" style="margin-bottom: 60px;">
            <div class="card-header">
                <h4 class="text-muted"><i class="fas fa-user-plus me-2"></i>Cadastro de Cliente</h4>
            </div>
            <div class="card-body">
                <form asp-controller="Cliente" asp-action="Criar" method="post">
                    <input type="hidden" asp-for="Id" value="@try {
                    @ViewBag.Cliente.Id
 } catch { }" />

                    <!-- Linha 1 -->
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label for="nome"><i class="fas fa-building me-2 text-primary"></i>Razão Social</label>
                            <input asp-for="Nome" type="text" class="form-control" value="@try {
                            @ViewBag.Cliente.Nome
 } catch { }" />
                            <span asp-validation-for="Nome"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cnpj"><i class="fas fa-id-card me-2 text-primary"></i>CNPJ</label>
                            <input asp-for="CNPJ" type="text" class="form-control" id="cnpj" value="@try {
                            @ViewBag.Cliente.CNPJ
 } catch {}" placeholder="__.___.___/____-__">
                            <span asp-validation-for="CNPJ"></span>
                        </div>
                    </div>

                    <!-- Linha 2 -->
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label for="cep"><i class="fas fa-map-marker-alt me-2 text-primary"></i>CEP</label>
                            <input asp-for="CEP" type="text" id="cep" class="form-control" placeholder="Digite o CEP" value="@try {
                            @ViewBag.Cliente.CEP
 } catch {}" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endereco"><i class="fas fa-home me-2 text-primary"></i>Endereço</label>
                            <input asp-for="End" type="text" id="endereco" class="form-control" value="@try {
                            @ViewBag.Cliente.End
 } catch {}" />
                            <span asp-validation-for="End"></span>
                        </div>
                    </div>

                    <!-- Linha 3 -->
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label for="bairro"><i class="fas fa-map me-2 text-primary"></i>Bairro</label>
                            <input asp-for="Bairro" type="text" id="bairro" class="form-control" value="@try {
                            @ViewBag.Cliente.Bairro
 } catch {}" />
                            <span asp-validation-for="Bairro"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cidade"><i class="fas fa-city me-2 text-primary"></i>Cidade</label>
                            <input asp-for="Cidade" type="text" id="cidade" class="form-control" value="@try {
                            @ViewBag.Cliente.Cidade
 } catch {}" />
                            <span asp-validation-for="Cidade"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="uf"><i class="fas fa-map-pin me-2 text-primary"></i>UF</label>
                            <input asp-for="UF" type="text" id="uf" class="form-control" value="@try {
                            @ViewBag.Cliente.UF
 } catch {}" />
                            <span asp-validation-for="UF"></span>
                        </div>
                    </div>

                    <!-- Linha 4 -->
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label for="telefone"><i class="fas fa-phone me-2 text-primary"></i>Telefone</label>
                            <input asp-for="Telefone" type="text" class="form-control" id="telefone" value="@try {
                            @ViewBag.Cliente.Telefone
 } catch {}" placeholder="(__)_____-____">
                            <span asp-validation-for="Telefone"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="situacao"><i class="fas fa-info-circle me-2 text-primary"></i>Situação</label>
                            <select asp-for="Situacao" class="form-control">
                                <option value="">Escolha...</option>
                                <option>ATIVO</option>
                                <option>INATIVO</option>
                                <option>LEAD</option>
                            </select>
                            <span asp-validation-for="Situacao"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="segmento"><i class="fas fa-briefcase me-2 text-primary"></i>Segmento</label>
                            <select asp-for="Segmento" class="form-control">
                                <option value="">Escolha...</option>
                                <option>Tecnologia</option>
                                <option>Saúde</option>
                                <option>Educação</option>
                                <option>Alimentício</option>
                                <option>Financeiro</option>
                            </select>
                            <span asp-validation-for="Segmento"></span>
                        </div>
                    </div>

                    <!-- Linha 5 -->
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label for="vendedor"><i class="fas fa-user-tie me-2 text-primary"></i>Vendedor</label>
                            <select asp-for="Vendedor_id" class="form-select">
                                <option value="">Escolha...</option>
                                @if (ViewBag.ListaVendedores != null && ((List<VendedorModel>)ViewBag.ListaVendedores).Any())
                                {
                                    foreach (var item in (List<VendedorModel>)ViewBag.ListaVendedores)
                                    {
                                        <option value="@item.Id">@item.Nome</option>
                                    }
                                }
                                else
                                {
                                    <option disabled>Nenhum vendedor disponível</option>
                                }
                            </select>
                            
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nome-comprador"><i class="fas fa-user-tie me-2 text-primary"></i>Nome Comprador</label>
                            <input asp-for="NomeComprador" type="text" class="form-control" value="@try {
                            @ViewBag.Cliente.NomeComprador
 } catch { }" />
                            <span asp-validation-for="NomeComprador"></span>
                        </div>
                    </div>

                    <!-- Linha 6 -->
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label for="email"><i class="fas fa-envelope me-2 text-primary"></i>Email</label>
                            <input asp-for="Email" type="text" class="form-control" value="@try {
                            @ViewBag.Cliente.Email
 } catch { }" />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>

                    <!-- Botão -->
                    <button type="submit" class="btn btn-success mt-3"><i class="fas fa-plus me-2"></i>Adicionar Cliente</button>
                </form>
            </div>
        </div>

    </main>

    <script>
        $(document).ready(function () {
            $('#cep').on('blur', function () {
                var cep = $(this).val().replace(/\D/g, '');
                if (cep.length === 8) {
                    $.getJSON(`https://viacep.com.br/ws/${cep}/json/`, function (data) {
                        if (!("erro" in data)) {
                            $('#endereco').val(data.logradouro);
                            $('#bairro').val(data.bairro);
                            $('#cidade').val(data.localidade);
                            $('#uf').val(data.uf);
                        } else {
                            alert("CEP não encontrado.");
                        }
                    }).fail(function () {
                        alert("Erro ao buscar o CEP. Tente novamente.");
                    });
                } else {
                    alert("CEP inválido.");
                }
            });
        });
    </script>

    <!-- Adiciona a biblioteca Font Awesome para os ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMo+ukN8L+CmLlZoz9eo1Lgj4R4I2vypgN+5xE5" crossorigin="anonymous">
</body>




</html>










